<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.sgtesting.tests.CreateProject" />
			<class name="com.sgtesting.tests.CreateTask" />
			<class name="com.sgtesting.tests.ModifyUser" />
			<class name="com.sgtesting.tests.ModifyProject" />
			<class name="com.sgtesting.tests.CreateCustomer" />
			<class name="com.sgtesting.tests.CreateuserScenario" />
			<class name="com.sgtesting.tests.ModifyCustomer" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
